lowres, bad anatomy, bad hands, text, error, missing fingers, extra digit, fewer digits, cropped, worst quality, low quality, normal quality, jpeg artifacts, signature, watermark, username, blurry, artist name, realistic, 3d render, photorealistic, photograph, western comic style, american comic, speech bubbles, word balloons, ui elements, interface, logo, brand, extra limbs, duplicate, fused fingers, too many fingers, long neck, mutated hands, poorly drawn hands, poorly drawn face, mutation, deformed, ugly, blurry, bad proportions, gross proportions, extra arms, cloned face, disfigured, out of frame, bad body, bad legs
